 General
.ignore

# Jetbrains
.idea
*.iml

# Docker
.container

# Java
build
lib

# Gradle
.gradle
gradle
gradlew.*

# Mac
.DS_Store
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
